<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="create">
    <h1>Edit Pokemon</h1>
    <a href="/pokedex"><img src="<%= data.img%>"><br/></a>
    <table>
    <form action="/pokedex/<%=index%>?_method=PUT" method="POST">
        <td><input type="text" name="name" placeholder="Name"/> <br/></td>
        <td><input type="text" name="type" placeholder="Type"/> <br/></td>
        <td><input type="text" name="hp" placeholder="HP"/><br/></td>
        <td><input type="text" name="attack" placeholder="Attack"/><br/></td>
        <td><input type="text" name="defense" placeholder="Defense"/><br/></td>
        <td><input class="formbutton1" type="submit" value="Submit"/><br/></td>
    </form>
  </table>
  </div>
  </body>
</html>