<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="create">
    <h1>Create a Pokemon</h1>
    <a href="/pokedex"><img src="https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/w/h/o/whos-that-pokemon-sirfetchd-b3795.jpg" name="img"/></a>
    <table>
        <form action="/pokedex" method="POST">
            <td><input type="text" name="name" placeholder="Name" /> <br/></td>
            <td><input type="text" name="type" placeholder="Type"/> <br/></td>
            <td><input type="text" name="stats.hp" placeholder="Hp"/><br/></td>
            <td><input type="text" name="stats.attack" placeholder="Attack"/><br/></td>
            <td><input type="text" name="stats.defense" placeholder="Defense"/><br/></td>
            <td><input class="formbutton" type="submit" value="Create"/><br/></td>
        </form>
    </table>  
</div>
</body>
</html>